<!DOCTYPE html>
<html>
<head>
  <title>HelloApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>{padding:0;margin:0;}
.homepage {
background-color: #e4685d;
margin: 0;
}

<%= yield %>

</body>
</html>
